.back {
    position: relative;
    background-size:cover;
    z-index: -1;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(7, 300px); /* 设置为1列，每列占比相等 */
    grid-gap: 0px; /* 可以设置为你想要的间距值 */

}
.back:before {
    content: "aaa";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../myimages/1.jpg");
    opacity: 0.3;
    z-index: -1;
  }
  .my_btn-primary {
    color:white;
    background-color: #76aee9;
    border-color: #e0e4e8
}



.container1{
    flex-direction: column;
    display: flex;
}
.container1 image{
    order: 2;
}
.container1 text{
    order: 1;

}
.container1::before {
    content: "";
    position: relative;
    top: 250;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(200px);
  }
  .banner-box {
    position: relative;

}

.banner {
    width: 100%;
    min-width: 1000px;
    height: 456px;
    position: relative;
    
}

.banner .background {
    position: relative;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    background-size: 100% 100%;
    filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    /* filter:blur(50px); */
}

.banner .images {
    position: absolute;
    left: 0;
    top: 0;
    height: 456px;
    width: 100%;
    overflow: hidden
}

.banner .images .image {
    height: 456px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1440px 456px
}


