.back {
    position: relative;
    background-size:cover;
    z-index: -1;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(7, 300px); /* 设置为1列，每列占比相等 */
    grid-gap: 0px; /* 可以设置为你想要的间距值 */

}
.back:before {
    content: "aaa";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../myimages/1.jpg");
    opacity: 0.3;
    z-index: -1;
  }
  .my_btn-primary {
    color:white;
    background-color: #76aee9;
    border-color: #e0e4e8
}



.container1{
    flex-direction: column;
    display: flex;
}
.container1 image{
    order: 2;
}
.container1 text{
    order: 1;

}
.container1::before {
    content: "";
    position: absolute;
    top: 250;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(200px);
  }
  .banner-box {
    width: 100%;
    min-width: 1000px;
    height: 456px;
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 456px;
}

.banner .background {
    position: relative;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    z-index: -1;
    background-size: 100% 100%;
    filter: blur(50px);

    /* filter:blur(50px); */
}

.banner .images {
    position: absolute;
    left: 0;
    top: 0;
    height: 456px;
    width: 100%;

}

.banner .images .image {
    z-index: -1;
    height: 456px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px 456px
}





.join {
    width: 100%;
    min-width: 1000px;
    margin-bottom: 96px;
    position: relative;
}
.join .bg {
    background: #36383D url(https://img.alicdn.com/tfs/TB1YIOmw8nTBKNjSZPfXXbf1XXa-1920-500.png) center 0 no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
}
.join .row {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.join .row .top {
    padding-top: 30px;
}

.join .row .top .join-title {
    margin-bottom: 32px;
}


.join .row .top .join-title .ch-title {
    text-align: center;
    height: 40px;
    position: relative;
}
.join .row .top .join-title .en-title {
    opacity: .8;
    font-size: 12px;
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: 4.29px;
    text-align: center;
    line-height: 16px;
    padding-bottom: 3px;
}

.join .row .top .join-title .ch-title .ch-word {
    display: inline-block;
    font-size: 36px;
    color: #FFFFFF;
    height: 40px;
    padding: 2px 2px;
}
.join .row .top .join-title .ch-title .ch-line {
    width: 2px;
    height: 30px;
    display: inline-block;
    background: #D22C1D;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}


.join .row .top .join-img {
    width: 1000px;
    height: 500px;
}
.join .row .top .join-img img {
    height: 500;
    width: 1000;
    
}
img {
    border: none;
}
.join .row .join-info {
    height: 450px;
}

.clear {
    clear: both;
}
.join .row .join-info .join-list {
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: rgba(27,43,79,0.1);
    -webkit-border-image: -webkit-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -moz-border-image: -moz-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -o-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -ms-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
}

.join .row .join-info .join-item {
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    padding: 0 60px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(27,43,79,0.1);
    -webkit-border-image: -webkit-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -moz-border-image: -moz-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -o-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -ms-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
}
.join .row .join-info .join-item .btn-row {
    position: absolute;
    bottom: 30px;
    margin-top: 0;
    margin-left: 10px;
}
.btn-row .btn {
    margin-right: 28px;
    float: left;
    font-family: Bulter,QingKe,sans-serif,SimSun;
}
.btn-row {
    height: 40px;
    margin-top: 24px;
}

.join .row .join-info .join-item .watermark {
    color: #1B2B4F;
    letter-spacing: 0;
    margin-top: 32px;
    margin-bottom: 20px;
}


.han-symbol.yan {
    background-position-x: -900px;
}
.han-symbol.yi{
    background-position-x: -0px;
}
.han-symbol.er{
    background-position-x: -90px;
}
.han-symbol.san{
    background-position-x: -180px;
}
.han-symbol.si{
    background-position-x: -270px;
}
.han-symbol.wu{
    background-position-x: -3px;
}
.han-symbol.bo {
    background-position-x: -1075px;
}

.han-symbol.bo, .han-symbol.yan, .han-symbol.xue, .han-symbol.shi, .han-symbol.yi, .han-symbol.er, .han-symbol.san ,.han-symbol.si,.han-symbol.wu{
    width: 90px;
    height: 90px;
    background-position-y: 0;
}


.han-symbol {
    display: inline-block;
    background-image: url("https://img.alicdn.com/tfs/TB19AHAdQL0gK0jSZFtXXXQCXXa-1260-900.svg");
    background-size: 1260px 900px;
}

.join .row .join-info .join-item .ch-title {
    text-align: center;
    font-size: 20px;
    color: #1B2B4F;
    letter-spacing: 0;
    line-height: 40px;
}
.font-serif {
    font-family: Bulter,QingKe,sans-serif,SimSun;
}
.join .row .join-info .join-item .en-title {
    opacity: .6;
    text-align: center;
    font-size: 10px;
    color: #1B2B4F;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 700;
    padding-left: 3px;
}


.join .row .join-info .join-item .brief {
    left: 30;
    right: 30;
    opacity: .8;
    font-size: 14px;
    color: #1B2B4F;
    line-height: 28px;
    margin-right: 10px;
    position: absolute;
    bottom: 100px;
    font-family: PingFangSC;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}



.join .row .join-info .join-item1 {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    padding: 0 78px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(27,43,79,0.1);
    -webkit-border-image: -webkit-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -moz-border-image: -moz-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -o-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -ms-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
}



.join .bg1 {
    background: #d8dbdd  center 0 no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
}


.join .row .join-info .join-item2 {
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    padding: 0 78px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(27,43,79,0.1);
    -webkit-border-image: -webkit-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -moz-border-image: -moz-linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -o-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    -ms-border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
    border-image: linear-gradient(rgba(27,43,79,0.2), rgba(27,43,79,0.02)) 30;
}





.breadcrumb {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 35px;
    background: url(../images/breadcrumb.png) no-repeat 10px center;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.img-list {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    width: 970px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row1 {
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
    transform:translateX(80px);
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-sm-3 {
    width: 25%;
}
.news-item {
    width: 120px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 20px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.news-item img {
    width: 120px;
    height: 180px;
}
.news-item .news-item-title {
    display: block;
    width: 120px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #404040;
}
.news-item-photo {
    display: block;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    max-width: 1980px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-md-9 {
    width: 75%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.mycol-xs-12 {
    width: 85%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}